@import '../../shared/styles/mixins';

.container {
    color: #FFFFFF;
    padding: 20px 0;
    background-color: #171717;   
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.logo {
    height: 4rem;
    max-width: 6rem;    
}
.logo img {
    width: 100%;
}
.banner_image {
    img {
        width: 100%;
        max-width: 100%;
    }
}
.banner_one_content {
    margin-top: -200px;
}
.banner_content_header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 82px;    
    color: #FFFFFF;
}
.banner_content_description {
    width: 92%;
    margin: 30px auto;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 158.69%;
}