@import '../../shared/styles/mixins';

.container {
    color: #FFFFFF;
    padding: 20px 0;
    background-color: #171717;   

    @include screen('desktop') {
        position:absolute;
        overflow:hidden;
        height:100%;
        width:100%;
        top:0;
        left:0;
    }
}