$primary               :   #0F0F0F;
$warning               :   #FBBC04;
$danger                :   #ec5252;

.btn {
    border: none;  
    cursor: pointer;
    margin-bottom: 15px;

    font-family         : "Roboto", sans-serif;
    font-weight         : 400;
    border-radius       : 0;
    transition          : all 0.3s ease;

    &:hover {
        transform       : translateY(-3px);
    }

    &:disabled,
    &[disabled] {
      background: rgba(37, 67, 53, 0.15);
    }
}


%btn__solid {
    border: none;
    color:#FFFFFF;
    font-size: 16px;
    line-height: 36px;
    padding: 5px 10px;
    border-radius: 0;

    opacity: 1;
    transition: all 0.3s ease 0s;
}


.btn__primary__solid {
    @extend %btn__solid;
    background: $primary;
}
.btn__warning__solid {
    @extend %btn__solid;
    background: $warning;
}
.btn__danger__solid {
    @extend %btn__solid;
    background: $danger;
}

.btn__transparent__light {
    @extend %btn__solid;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #ffffff;
}

.btn__transparent__dark {
    @extend %btn__solid;
    color: $primary;
    background: transparent;
    border: 1px solid $primary;
}

.btn__primary__outline {
    @extend %btn__solid;
    color: #FFF;
    background: transparent;
    border: 1px solid #FFF;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
    

    &:disabled,
    &[disabled] {
        color: #FFF;
        border-color: transparent;
        background: rgba(37, 67, 53, 0.15);
    }
}
.btn__warning__outline {
    @extend %btn__solid;
    color: $warning;
    background: #FFF;
    border: 1px solid $warning;
}
.btn__danger__outline {
    @extend %btn__solid;
    color: $danger;
    background: #FFF;
    border: 1px solid $danger;
}


%btn_size {
    font-weight: 900;
    letter-spacing: 0.02em;
}
.btn__small {
    @extend %btn_size;
}
.btn__large {
    width: 100%;
    @extend %btn_size;
}


@keyframes spin{
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.circle_container {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.circle {
    text-align: center;

    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid rgba(#0F0F0F, 0.2);
    border-top-color: #0F0F0F;
    animation: spin 1s infinite linear;
}
