@import '../../shared/styles/mixins';

.wrapper {
    width: 90%;
    margin: 0 auto;

    @include screen('tablet') {
        width: 90%;
    }
}
.header {
    position: relative;
    padding: 15px 0 50px 0;
    background-color: #0F0F0F;

    .header_content {
        position: relative;
        z-index: 2;

        font-family: "Roboto";
        line-height: 91.69%;    
        font-style: normal;
        font-weight: 200;
        font-size: 103px;
        color: #FFFFFF;

        margin-top: 15px;
    }
}
.nav {
    position: relative;
    z-index: 2;
}

.auth_screen_bg1 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;   
    z-index: 0;
}
.items {
    margin: 25px 0;
}
.title {
    font-family: "Roboto";
    line-height: 158.69%;
    font-style: normal;
    font-size: 50px;
    font-weight: 500;    
    color: #0D0D0D;
}

.item {
    margin-top: 15px;

    .item_header {
        font-family: "Roboto";
        line-height: 158.69%;        
        font-style: normal;
        font-weight: 300;
        font-size: 33px;
        color: #0D0D0D;        
    }

    ul li {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 158.69%;        
        color: #0D0D0D;
    }
}
