@import '../../shared/styles/mixins';

.container {
    color: #FFFFFF;
    padding: 20px 0;
    background-color: #171717;   

    @include screen('desktop') {
        position:absolute;
        overflow:hidden;
        height:100%;
        width:100%;
        top:0;
        left:0;
        margin: 0 auto;
    }
}

.banner_web_one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.banner_web_one_content {
    width: 70%;
    flex-shrink: 0;
}
.banner_web_image {
    width: 50%;
    z-index: 2;
    flex-shrink: 0;
    @include screen("(min-width: 1200px) and (max-width: 1300px)") {}

    img {
        width: 100%;
        height: 100vh;
        object-fit: fill;
        background-size: 100% 100%;

        @include screen("(min-width: 1200px) and (max-width: 1300px)") {}
    }
}
.auth_screen_bg1 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;    
    z-index: 1;
}
.header {
    margin-left: -28vw;
}
.title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 150px;
    line-height: 176px;
    color: #FFFFFF;

    @include screen("(min-width: 1200px) and (max-width: 1300px)") {}
}
.sub_title {
    margin-left: 10vw;

    @include screen("(min-width: 1200px) and (max-width: 1300px)") {}
}
.description {
    width: 400px;
    position: relative;
    z-index: 4;

    margin-top: 15%;

    .web_button {
        width: 80%;
        margin: 50px auto;
    }

    @include screen("(max-height: 700px)") {
        margin-top: 30px;
    }
}