@import '../../shared/styles/mixins';

.container {
    color: #FFFFFF;
    padding: 20px 0;
    background-color: #171717;   

    @include screen('desktop') {
        position:absolute;
        overflow:hidden;
        height:100%;
        width:100%;
        top:0;
        left:0;
    }
}
.banner_content_description {
    position: absolute;
    z-index: 1000;

    @include screen("desktop") {
        width: 20%;
        right: 5%;
        top: 70%;
    }
    @include screen("(min-width: 1300px)") {
        right: 20%;
        width: 20%;
        top: 70%;
    }
    @include screen("(min-width: 1400px)") {
        right: 29%;
        width: 20%;
        top: 70%;
    }
    @include screen("(max-height: 600px)") {
        top: 60%;
        right: 20%;
        width: 27%;
    }
}
.banner_web_image {
    img {
        height: 100%;
        margin-top: 50px;
        object-fit: contain;

        position: relative;
        z-index: 2;

        @include screen("(max-height: 600px)") {
            max-height: 100vh;
        }
    }
}
.banner_web_header {
    position: absolute;
    top: 20%;
    left: 25%;

    @include screen("(max-height: 700px)") {
        top: 15%;
        left: 32%;
    }
}
.banner_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 100px;
    line-height: 156px;

    @include screen("(min-width: 1200px)") {
        font-size: 120px;
    }
    @include screen("(min-width: 1300px)") {
        font-size: 133px;
    }
    @include screen("(max-height: 600px)") {
        font-size: 100px;
    }
}
.banner_sub_title {
    position: relative;
    left: 250px;

    @include screen("(max-height: 600px)") {
        top: -50px;
        left: 150px;
    }
}

.web_button {
    width: 80%;
    margin: 50px auto;

    position: relative;
    left: 1.5%;
}
