@import '../../shared//styles/mixins';


.container {
    color: #FFFFFF;
    padding: 20px 0;
    background-color: #171717;   

    @include screen('desktop') {
        position:absolute;
        overflow:hidden;
        height:100%;
        width:100%;
        top:0;
        left:0;
    }
}
.content {
    display: flex;
    flex-direction: row;
}
.banner_image {
    z-index: 2;
}
.banner_title {
    font-family: "Roboto";
    line-height: 156px;
    font-style: normal;
    font-weight: 200;
    font-size: 133px;
    color: #FFFFFF;    

    margin-left: -130px;

    @include screen("(min-width: 1200px) and (max-width: 1400px)") {
        font-size: 100px;
    }
}
.description {
    font-family: "Roboto";
    line-height: 158.69%;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;

    width: 400px;
}


.banner_content {
    margin-top: 30px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
}
.banner_item {
    margin-bottom: 15px;
}
.item_one_and_two {
    display: flex;
}
.banner_item_two {
    margin-top: 30px;
}



.back {
    position: absolute;
    bottom: 8vw;
    left: 10vw;
    z-index: 3;

    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #FFF;
        flex-shrink: 0;
        margin-right: 20px;
    }

    @include screen("(min-width: 1200px) and (max-width: 1400px)") {
        bottom: 3.5vw;
    }
    @include screen("(max-height: 800px)") {
        bottom: 2vw;
    }
}
.web_button {
    margin: 50px auto;
    width: 15%;

    position: absolute;
    bottom: 4vw;
    right: 40vw;

    z-index: 4;
    
    @include screen("(min-width: 1200px) and (max-width: 1400px)") {
        bottom: -2vw;
        right: 20vw;
    }
    @include screen("(max-height: 800px)") {
        bottom: -2vw;
    }
}

.item {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;        
    color: #FFFFFF;

}
.item {
    width: 100%;
    .hr {
        width: 300px;
    }
    margin: 0;
    margin-bottom: 20px;
}
.item_number {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFF;
    flex-shrink: 0;
    margin-right: 20px;
}
.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 0.25px solid #FFF;
    padding: 0;
    width: 100%;

    margin-right: 20px;
}


.auth_screen_bg1 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;    
}
