@import '../../shared//styles/mixins';



.container {
    color: #FFFFFF;
    padding: 20px 0;
    background-color: #171717;   

    @include screen('desktop') {
        position:absolute;
        overflow:hidden;
        height:100%;
        width:100%;
        top:0;
        left:0;
    }
}



.content {
    display: flex;
    flex-direction: row;
}
.description {
    margin-top: 7vw;
    margin-left: -120px;
}
.title,
.sub_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 133px;
    line-height: 124px;
    color: #FFFFFF;    
}
.message {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 158.7%;
    color: #FFFFFF;

    width: 600px;

    margin: 50px 0;
}




.back {
    position: absolute;
    bottom: 8vw;
    left: 10vw;
    z-index: 3;

    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #FFF;
        flex-shrink: 0;
        margin-right: 20px;
    }
}
.web_button {
    margin: 50px auto;
    width: 15%;

    position: absolute;
    bottom: 4vw;
    right: 40vw;

    z-index: 4;
    
    @include screen("(min-width: 1200px) and (max-width: 1400px)") {
        right: 30vw;
    }
}
.auth_screen_bg1 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;    
}