@import '../../shared//styles/mixins';

.container {
    color: #FFFFFF;
    padding: 20px 0;
    background-color: #171717;   

    @include screen('desktop') {
        position:absolute;
        overflow:hidden;
        height:100%;
        width:100%;
        top:0;
        left:0;
    }
}

.banner_web_image {
    // width: 48%;
    img {
        height: 100%;
        margin-top: 50px;
        object-fit: contain;

        position: relative;
        z-index: 2;
    }

}

.items {
    top: 40%;
    left: 20%;
    position: absolute;
}
.item {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;        
    color: #FFFFFF;
}
.item_number {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFF;
    flex-shrink: 0;
    margin-right: 20px;
}
.item_description {
    font-family: "Roboto";
    line-height: 158.69%;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;

    max-width: 200px;
}
.banner_web_header {
    position: absolute;
    top: 190px;
    left: 400px;
}
.banner_title {
    font-family: "Roboto";
    font-style: normal;
    font-size: 100px;
    font-weight: 200;
    line-height: 156px;

    @include screen("(min-width: 1400px)") {
        font-size: 133px;
    }
}

.banner_web_one_content {
    .items {
        position: absolute;
        top: 45%;
        left: 35%;

        @include screen("(min-width: 1400px)") {
            left: 30%;
        }
    }
    .item {
        margin-bottom: 80px;
    }
    .item_two {
        position: relative;
        left: 30%;
    }
    .item_description {
        width: 100%;
    }
    .item_three {
        position: relative;
        left: 60%;

        .item_description {
            max-width: 250px;
        }
    }
}

.web_button {
    width: 80%;
    margin: 50px auto;

    position: relative;
    left: 70%;

    z-index: 1;
}
.back {
    position: absolute;
    bottom: 78px;
    left: 100px;

    z-index: 1000;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 0.25px solid #FFF;
    padding: 0;
    width: 100%;

    margin-right: 20px;
}

.auth_screen_bg1 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;    
}
